    <footer class="footer">
      <div>
        <div class="w-col w-col-12">
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <ul class="social-links">
            <li><a href="https://twitter.com/{{ site.twitter }}">Twitter</a></li>
            <li><a href="https://facebook.com/{{ site.facebook }}">Facebook</a></li>
          </ul>
          <div><a href="mailto:{{ site.email }}" class="contact-email">{{ site.email }}</a></div>
          <span>Copyright CougarCS 2017</span>
        </div>
        <div class="w-col w-col-6">
          <div>Hosted by CougarCS<br>A student chapter of ACM<br>University of Houston</div>
        </div>
      </div>
    </footer>