

html {
  height: 100%;
}
body {
  background-color: #243b55;
  background-image: url("./overlay.png"), -webkit-linear-gradient(270deg, #141e30, #243b55);
  background-image: url("./overlay.png"), linear-gradient(180deg, #141e30, #243b55);
  background-position: 50% 0px, 0px 0px;
  font-family: 'Roboto Mono', Inconsolata, monospace;
  color: #333;
  font-size: 20px;
  line-height: 1.5;
  background-repeat: repeat, no-repeat;
  background-attachment: static, fixed;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

p a:link, p a:visited {
  text-decoration: none;
  border-bottom: 2px solid #c8102e;
  color: #c8102e;
}

p a:link:hover, p a:visited:hover {
  color: #88102e;
}

.logo {
  display: block;
  margin: 160px auto 64px;
  user-select: none;
  -moz-user-select: none;
  background-color: rgba(20,30,48,0.5); 
  box-shadow: rgba(20,30,48,0.5) 0px 0px 32px 16px;
  // animation: floatin 0.5s cubic-bezier(.19, 1, .22, 1) 0s;
}

.subtitle {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: 'Roboto Mono', sans-serif;
  color: #aea29b;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  // animation: floatin 0.5s cubic-bezier(.19, 1, .22, 1) 0.1s;
}

.content {
  position: relative;
  margin-bottom: 60px;
  padding-top: 8px;
  padding-bottom: 60px;
}

.call-to-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  margin-bottom: 64px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  user-select: none;
  -moz-user-select: none;
}

.button {
  padding: 16px 32px;
  border: 5px solid #c8102e;
  color: #c8102e;
  background: transparent;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: background-color 200ms cubic-bezier(.19, 1, .22, 1), -webkit-transform 200ms cubic-bezier(.175, .885, .32, 1.275);
  transition: background-color 200ms cubic-bezier(.19, 1, .22, 1), -webkit-transform 200ms cubic-bezier(.175, .885, .32, 1.275);
  transition: transform 200ms cubic-bezier(.175, .885, .32, 1.275), background-color 200ms cubic-bezier(.19, 1, .22, 1);
  transition: transform 200ms cubic-bezier(.175, .885, .32, 1.275), background-color 200ms cubic-bezier(.19, 1, .22, 1), -webkit-transform 200ms cubic-bezier(.175, .885, .32, 1.275);
  font-family: Rubik, sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.button:focus {
  outline: none;
  border: 5px solid #c8102e !important;
}

.button:active {
  border: 5px solid #c8102e;
  color: #efdbd0;
  background-color: #c8102e;
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

.action-button {
  background-color: rgba(20,30,48,0.5);
  color: #efdbd0;
}

.action-button.left {
  // animation: floatupleft 0.5s cubic-bezier(.19, 1, .22, 1) 0.2s;
}

.action-button.right {
  // animation: floatupright 0.5s cubic-bezier(.19, 1, .22, 1) 0.2s;
}

input[type=radio] {
    border-radius: 50%;
}

.bg-text {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("./text-bg.svg");
  background-position: 50% 0px;
  background-repeat: repeat-y;
  background-attachment: scroll;
  opacity: 0.5;
  z-index: -1;
}

.main-content {
  margin-right: 70px;
  margin-left: 70px;
}

.content-top {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 8px;
  background-color: #c8102e;
}

.content-top-triangle {
  position: absolute;
  left: 50%;
  z-index: 0;
  width: 64px;
  height: 64px;
  background-color: #c8102e;
  box-shadow: 0 0 32px 0 #141e30;
  -webkit-transform: translate(-32px, -32px) rotate(45deg);
  -ms-transform: translate(-32px, -32px) rotate(45deg);
  transform: translate(-32px, -32px) rotate(45deg);
  box-shadow: #141e30 0px 0px 32px;
  display: none;
}

.nav-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  float: none;
  user-select: none;
  -moz-user-select: none;
  background: #dedbd9;
}

.nav-link {
  padding: 15px 30px;
  color: #c8102e;
  position: relative;
  flex: 1 1 auto;
  text-align: center;
  text-decoration: none;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.nav-link .indicator {
  height: 5px;
  width: 100%;
  background-color: #c8102e;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-link:hover .indicator {
  transform: scaleX(1);
}

.content-section {
  padding: 40px;
  border-bottom: 1px solid #efdbd0;
}

.content-section.centered {
  text-align: center;
}

.content-section h2 {
  font-family: Rubik, sans-serif;
  color: #c8102e;
  font-size: 2.2em;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.content-section h3 {
  font-size: 1em;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #141e30;
  // text-align: center;
}

hr {
  display: block;
  border: none;
  width: 64px;
  height: 3px;
  margin: 16px auto;
  background-color: hsla(22, 10%, 65%, .5);
}

.lead {
  margin-right: 64px;
  margin-left: 64px;
  color: #7b9faf !important;
  font-size: 1.6em;
  text-align: center;
}

.content-section p {
  /*hyphens: auto;*/
  color: #252122;
}

.footer {
  margin-bottom: 30px;
  color: #141e30;
  font-size: 0.8em;
  color: rgba(146, 186, 200, 0.78);
  padding: 2em 0;
}

.page {
  position: relative;
  margin-bottom: 60px;
  padding-top: 8px;
  padding-bottom: 60px;
  border-bottom: 8px solid #c8102e;
  background-color: #f5f5f5;
  box-shadow: #141e30 0px 0px 32px;
  // animation: floatin 0.5s cubic-bezier(.19, 1, .22, 1) 0.3s;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  flex-flow: space-around;
  align-items: center;

}

.companies a {
  flex: 1 1 25%;
  margin: 20px 40px;
  min-width: 160px;
  text-align: center;
  display: block;
}

.company-logo {
  transition: transform 0.2s cubic-bezier(.19, 1, .22, 1);
  max-width: 240px;
  width: 100%;
}

.company-logo:hover {
  transform: scale(1.1);
}

.organizer-grid {
  display: flex;
  flex-wrap: wrap;
  flex-flow: center;
}

.organizer {
  position: relative;
  height: 256px;
  flex: 0 1 20%;
}

.organizer-info {
  position: absolute;
  padding: 8px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.organizer-photo {
  display: block;
  width: 100%;
}

.organizer-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(/assets/brooke.jpg);
  background-size: cover;
  background-position: 50% 50%;
  transform: scale(1, 1);
  transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1), box-shadow 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  // filter: grayscale(1);
}

.organizer:hover {
  z-index: 99;
}

.organizer:hover .organizer-bg {
  transform: scale(1.1, 1.1);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 32px;
  // filter: grayscale(0);
}

.organizer-name {
  display: block;
  line-height: 1.1;
  position: absolute;
  bottom: 8px;
  left: 8px;
  padding: 4px 8px;
  background-color: #f5f5f5;
  color: #333333;
}

.organizer-role {
  font-size: 0.6em;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: Rubik;
  font-weight: 400;
  // font-weight: bold;
  display: block;
  color: #aea29b;
  // white-space: pre;
}

.contact-email {
  font-size: 1.6em;
  font-family: Rubik;
  // font-weight: bold;
}

.footer a:link, .footer a:visited {
  text-decoration: none;
  color: inherit;
}

.footer a:link:hover, .footer a:visited:hover {
  color: #f5f5f5;
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-links li {
  display: inline-block;
}

.social-links a:link {
  padding: 0 16px 16px 0;
}

::-moz-selection {
  background: #c8102e;
  color: #efdbd0;
}
::selection {
  background: #c8102e;
  color: #efdbd0;
}

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
  transition: transform 500ms ease-out;
  user-select: none;
  -moz-user-select: none;
  border: none;
}

#mlh-trust-badge:hover {
  transform: translateY(0px);
}

#mc_embed_signup {
  clear: left;
}

@media (max-width: 991px) {
  .main-content {
    margin-right: 52px;
    margin-left: 52px;
  }
  .organizer {
    flex: 0 1 25%;
  }
}

@media (max-width: 767px) {
  .logo {
    margin-top: 120px;
    margin-bottom: 32px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .subtitle {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 20px;
  }
  .call-to-action {
    margin-top: 48px;
  }
  .action-button {
    font-size: 20px;
  }
  .lead {
    margin-right: 0px;
    margin-left: 0px;
  }
  .main-content {
    margin-right: 20px;
    margin-left: 20px;
  }
  .body {
    font-size: 18px;
  }
  .nav-menu-icon {
    float: none;
  }
  .content-section {
    padding: 30px;
  }
  .content-top-triangle {
    -webkit-transform: translate(-32px, -32px) rotate(45deg) scale(0.75);
    -ms-transform: translate(-32px, -32px) rotate(45deg) scale(0.75);
    transform: translate(-32px, -32px) rotate(45deg) scale(0.75);
  }
  .organizer {
    flex: 0 1 33.333%;
  }
  #mlh-trust-badge {
    transform: translateY(-40px);
  }
}

@media (max-width: 479px) {
  h3 {
    font-size: 1.6em;
  }
  .logo {
    margin-top: 80px;
    margin-bottom: 16px;
  }
  .subtitle {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 11px;
  }
  .call-to-action {
    margin-top: 32px;
  }
  .action-button {
    padding: 8px 16px;
    border-width: 3px;
    font-size: 11px;
  }
  .section-header {
    margin-top: 10px;
  }
  .content-text {
    margin-top: 10px;
  }
  .main-content {
    margin-right: 0px;
    margin-left: 0px;
  }
  .body {
    font-size: 12px;
  }
  .content-section {
    padding: 20px;
  }
  .content-top-triangle {
    -webkit-transform: translate(-32px, -32px) rotate(45deg) scale(0.5);
    -ms-transform: translate(-32px, -32px) rotate(45deg) scale(0.5);
    transform: translate(-32px, -32px) rotate(45deg) scale(0.5);
  }
  .organizer {
    flex: 0 1 50%;
    height: 160px;
  }
}

@keyframes floatin {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes floatupright {
  from {
    opacity: 0;
    -webkit-transform: translate(32px, 32px) scale(0.95, 0.95);
    -ms-transform: translate(32px, 32px) scale(0.95, 0.95);
    transform: translate(32px, 32px) scale(0.95, 0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1, 1);
    -ms-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
  }
}

@keyframes floatupleft {
  from {
    opacity: 0;
    -webkit-transform: translate(-32px, 32px) scale(0.95, 0.95);
    -ms-transform: translate(-32px, 32px) scale(0.95, 0.95);
    transform: translate(-32px, 32px) scale(0.95, 0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1, 1);
    -ms-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
  }
}
