---
layout: default
---

<!-- <div class="parallax"> -->
  <div class="bg-text"></div>
  <div class="container w-container" id="top">

    <header>
      {% include header.html %}
      <hr>
      <div class="subtitle">Houston, TX</div>
      <div class="call-to-action">
        <a class="action-button button left" href="https://app.uhcode.red/apply">Apply Now</a>
        <a class="action-button button right" href="/sponsor/">Sponsor</a>
      </div>
    </header>

    <div class="page">
      <div class="content-top-triangle"></div>
      <div class="content-top"></div>

      <nav class="nav-menu" role="navigation">
        <a class="nav-link" href="#about" style="max-width: 940px;">About<span class="indicator"></span></a>
        <a class="nav-link" href="#faq" style="max-width: 940px;">FAQ<span class="indicator"></span></a>
        <!--<a class="nav-link" href="#schedule" style="max-width: 940px;">Schedule<span class="indicator"></span></a>
        <a class="nav-link" href="#sponsors" style="max-width: 940px;">Sponsors<span class="indicator"></span></a>-->
      </nav>

      {{ content }}

    </div><!--.page-->

    {% include footer.html %}

  </div><!--.container-->
<!-- </div>.parallax -->
